
<footer class="text-center" style="   background: linear-gradient(to right, #0f3dba, #a210a7);position: relative;
color: white; /* Set text color to white */
padding: 20px; /* Add some padding for better visibility */">
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- Add your links and other content here -->
          <h4>Useful Links</h4>
          <ul class="list-unstyled">
            <li><a href="<%= process.env.BASE_URL %>/home" class="text-white">Home</a></li>

            <li><a href="<%= process.env.BASE_URL %>/company" class="text-white">Company</a></li>
            <li><a href="<%= process.env.BASE_URL %>/terms-and-conditions" class="text-white">Terms & Conditions</a></li>
            <li><a href="<%= process.env.BASE_URL %>/faq" class="text-white">Faq's</a></li>
          </ul>
        </div>
        <div class="col">
            <!-- Add more columns or content as needed -->
            <h4>Contact Us</h4>
            <ul class="list-unstyled">
                <li>   Email: info@itorodigital.com</li>
                <li>Phone: +15746964606</li>
              </ul>
         
            
          </div>
      </div>
    </div>
    <p>&copy; <%= new Date().getFullYear() %> <nbsp></nbsp><nbsp></nbsp> iToro. All rights reserved.</p>

  </footer>
