<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#4a6fd3">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#4a6fd3">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#4a6fd3">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <meta name="csrf-param" content="_csrf-frontend">
<meta name="csrf-token" content="EXfF0UjGnd9P1mbQ7owY3pyKjNdSECv7VBuQnCffy2ohQKqFerzztT7iM6KcyE6Q7tm_nDVWU8o-afrQFu35EA==">
    <title>Earning money on the Internet with withdrawal of money 2024 | iToro</title>
    <meta name="description" content="iToro">
<link href="/landing/assets/8db62c8a/css/main.css" rel="stylesheet">
<link href="/landing/assets/8db62c8a/css/other.css" rel="stylesheet">
</head>
<body>

<div class="body-wrapper">

    <header>
    <div class="header-content">
        <div class="header">
            <div class="header-logo logo">
                <a href="<%= process.env.BASE_URL %>">
                    <strong>i</strong>Toro
                </a>
            </div>
            <div class="header-menu-wrapper">
                <ul class="header-menu menu">
                    <li>
                        <a href="#start" class="scroll">How to get started</a>
                    </li>
                    <li>
                        <a href="#excellence" class="scroll">Advantages</a>
                    </li>
                    <li>
                        <a href="#partner" class="scroll">Top</a>
                    </li>
                    <li>
                        <a href="#gain" class="scroll">Making money on the internet</a>
                    </li>
                    <li>
                        <a href="#program" class="scroll">Affiliate program</a>
                    </li>
                    <li>
                        <a href="#service" class="scroll">Services and prices</a>
                    </li>
                </ul>
            </div>
            <div class="header-btn-wrapper">
                <a href="<%= process.env.BASE_URL %>/login" class="header-btn btn-head">
                    <span class="btn-head__icon"></span>
                    <span class="btn-head__title">Login</span>
                </a>
            </div>
            <div class="menu-bar-wrap">
                <div class="menu-bar active back">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="body-content">
    <section id="home" class="section home-section">
        <div class="home-bullet home-bullet--left">
            <img src="/img/bullet1.svg" alt="">
        </div>
        <div class="home-bullet home-bullet--right">
            <img src="/img/bullet1.svg" alt="">
        </div>

        <img src="/img/main-img-abs.png" class="home-abs home-abs--right" alt="">
        <img src="/img/img-abs-small.png" class="home-abs home-abs--left" alt="">
        <div class="home-wrap">
            <div class="container">
                <div class="home">
                    <div class="home-switcher switcher">
                        <div class="home-switcher-item switcher-item  switcher-item--left active" data-home="1">For performers</div>
                        <div class="home-switcher-item switcher-item switcher-item--right" data-home="2">For customers</div>
                    </div>
                    <div class="home-content-wrapper">
                        <div class="home-content active" data-home="1">
                            <div class="home-info" data-aos="fade-right">
                                <div class="home-describe">
                                    <h1 class="home__title">Earn money online with small investment</h1>
                                    <div class="home__subtitle">withdrawing money to your account</div>
                                    <div class="home-describe__text">
                                        Hundreds of easy, pay-for-money tasks
                                    </div>
                                </div>
                                <div class="home-btn-wrapper">
                                    <a href="<%= process.env.BASE_URL %>/login" class="btn home-btn">Get started now</a>
                                </div>
                            </div>
                            <div class="home-img-wrapper">
                                <img src="/img/home-main.svg" alt="" class="home-img">
                                <div class="social-icons-wrapper">
                                    <div class="social-icons">
                                        <span class="social-icons-item"><img src="/img/main-inst.svg" alt=""></span>
                                        <span class="social-icons-item"><img src="/img/main-like.svg" alt=""></span>
                                        <span class="social-icons-item"><img src="/img/play.svg" alt=""></span>
                                        <span class="social-icons-item"><img src="/img/twitter.svg" alt=""></span>
                                        <span class="social-icons-item"><img src="/img/star.svg" alt=""></span>
                                        <span class="social-icons-item"><img src="/img/mail.svg" alt=""></span>
                                        <span class="social-icons-item"><img src="/img/thumb-like.svg" alt=""></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="home-content" data-home="2">
                            <div class="home-info">
                                <div class="home-describe">
                                    <h2 class="home__title">
                                        Thousands of verified users
                                    </h2>
                                    <div class="home__subtitle">
                                        for your business
                                    </div>
                                    <div class="home-describe__text">
                                        Expand the boundaries of your business with our service
                                    </div>
                                </div>
                                <div class="home-btn-wrapper">
                                    <a href="<%= process.env.BASE_URL %>/login" class="btn home-btn">Start now</a>
                                </div>
                            </div>
                            <div class="home-img-wrapper">
                                <img src="/img/home-main-reverse.svg" alt="" class="home-img">
                                <div class="social-icons-wrapper">
                                    <div class="social-icons">
                                        <span class="social-icons-item"><img src="/img/main-inst.svg" alt=""></span>
                                        <span class="social-icons-item"><img src="/img/main-like.svg" alt=""></span>
                                        <span class="social-icons-item"><img src="/img/play.svg" alt=""></span>
                                        <span class="social-icons-item"><img src="/img/twitter.svg" alt=""></span>
                                        <span class="social-icons-item"><img src="/img/star.svg" alt=""></span>
                                        <span class="social-icons-item"><img src="/img/mail.svg" alt=""></span>
                                        <span class="social-icons-item"><img src="/img/thumb-like.svg" alt=""></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---->
    <section id="start" class="section start-section">
        <div class="start-wrap">
            <div class="container">
                <div class="edge-content-wrapper">
                    <div class="edge-content active" data-home="1">
                        <div class="edge" data-aos="fade-up">
                            <div class="edge-item">
                                <div class="edge-item__logo">
                                    <img src="/img/e1.svg" alt="Paid money">
                                </div>
                                <div class="edge-item__value">16 026</div>
                                <div class="edge-item__title">Paid money</div>
                            </div>
                            <div class="edge-item">
                                <div class="edge-item__logo">
                                    <img src="/img/e2.svg" alt="Customers">
                                </div>
                                <div class="edge-item__value">5 144</div>
                                <div class="edge-item__title">Users</div>
                            </div>
                            <div class="edge-item">
                                <div class="edge-item__logo">
                                    <img src="/img/e3.svg" alt="Active tasks">
                                </div>
                                <div class="edge-item__value">4 161</div>
                                <div class="edge-item__title">Active tasks</div>
                            </div>
                        </div>
                    </div>
                    <div class="edge-content" data-home="2">
                        <div class="edge">
                            <div class="edge-item">
                                <div class="edge-item__logo">
                                    <img src="/img/e4.svg" alt="Performers">
                                </div>
                                <div class="edge-item__value">3 079</div>
                                <div class="edge-item__title">Performers</div>
                            </div>
                            <div class="edge-item">
                                <div class="edge-item__logo">
                                    <img src="/img/e5.svg" alt="Executions per day">
                                </div>
                                <div class="edge-item__value">5 607</div>
                                <div class="edge-item__title">Executions per day</div>
                            </div>
                            <div class="edge-item">
                                <div class="edge-item__logo">
                                    <img src="/img/e6.svg" alt="Completed tasks">
                                </div>
                                <div class="edge-item__value">11 299 5</div>
                                <div class="edge-item__title">Completed tasks</div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="section__title">Where to begin</h2>
                <div class="start">
                          <span class="start-bullet start-bullet--left">
                              <img data-src="/img/bullet2.svg" class="lazy" alt="">
                          </span>
                    <span class="start-bullet start-bullet--right">
                            <img data-src="/img/bullet2.svg" class="lazy" alt="">
                        </span>

                    <div class="start-item" data-aos="fade-down" data-aos-delay="0">
                        <div class="start-item-img-border">
                            <div class="start-item-img-wrapper">
                                <img data-src="/img/s1.svg" alt="" class="lazy start-item-img">
                            </div>
                        </div>

                        <div class="start-item-info">
                            <div class="start-item-info-head">
                                <div class="start-item-info-counter-wrapper">
                                    <div class="start-item-info-counter"></div>
                                </div>
                                <img src="/img/arrow.png" alt="" class="start-item-arrow">
                            </div>


                            <div class="start-item-info__title">
                                Complete tasks
                            </div>
                            <div class="start-item-info__text">
                                Complete interesting tasks in your free time to earn money
                            </div>
                        </div>
                    </div>
                    <div class="start-item" data-aos="fade-down" data-aos-delay="200">
                        <div class="start-item-img-border">
                            <div class="start-item-img-wrapper">
                                <img data-src="/img/s2.svg" alt="Зарабатывайте деньги" class="lazy start-item-img">
                            </div>
                        </div>

                        <div class="start-item-info">
                            <div class="start-item-info-head">
                                <div class="start-item-info-counter-wrapper">
                                    <div class="start-item-info-counter"></div>
                                </div>
                                <img src="/img/arrow.png" alt="" class="start-item-arrow">
                            </div>


                            <div class="start-item-info__title">
                                Earn money
                            </div>
                            <div class="start-item-info__text">
                                Receive honestly earned money immediately after checking the task
                            </div>
                        </div>
                    </div>
                    <div class="start-border"></div>
                    <div class="start-item" data-aos="fade-down" data-aos-delay="400">
                        <div class="start-item-img-border">
                            <div class="start-item-img-wrapper">
                                <img data-src="/img/s3.svg" alt="Привлекайте друзей" class="lazy start-item-img">
                            </div>
                        </div>

                        <div class="start-item-info">
                            <div class="start-item-info-head">
                                <div class="start-item-info-counter-wrapper">
                                    <div class="start-item-info-counter"></div>
                                </div>
                                <img src="/img/arrow.png" alt="" class="start-item-arrow">
                            </div>


                            <div class="start-item-info__title">
                                Refer friends
                            </div>
                            <div class="start-item-info__text">
                                Earn score to increase VIP level from each completion of your referral
                            </div>
                        </div>
                    </div>
                    <div class="start-item" data-aos="fade-down" data-aos-delay="600">
                        <div class="start-item-img-border">
                            <div class="start-item-img-wrapper">
                                <img data-src="/img/s4.svg" alt="Get the result" class="lazy start-item-img">
                            </div>
                        </div>

                        <div class="start-item-info">
                            <div class="start-item-info-head">
                                <div class="start-item-info-counter-wrapper">
                                    <div class="start-item-info-counter"></div>
                                </div>
                                <img src="/img/arrow.png" alt="" class="start-item-arrow">
                            </div>


                            <div class="start-item-info__title">
                                Get the result
                            </div>
                            <div class="start-item-info__text">
                                Thousands of dollars in your account for completing easy tasks
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Преимущества-->
    <section id="excellence" class="section excellence-section">
        <img data-src="/img/excellence-left.png" class="lazy excellence-abs excellence-abs--left" alt="">
        <img data-src="/img/img-abs-small.png" class="lazy excellence-abs excellence-abs--right" alt="">

        <div class="excellence-bullet excellence-bullet--left">
            <img src="/img/bullet1.svg" alt="">
        </div>
        <div class="excellence-bullet excellence-bullet--right">
            <img src="/img/bullet1.svg" alt="">
        </div>

        <div class="excellence-animation-wrapper excellence-animation-wrapper--left">
            <img src="/img/like.svg" class=" excellence-animation-item" alt="">
            <img src="/img/hashtag.svg" class=" excellence-animation-item" alt="">
            <img src="/img/message.svg" class=" excellence-animation-item" alt="">
        </div>

        <div class="excellence-animation-wrapper excellence-animation-wrapper--right">
            <img src="/img/like.svg" class="excellence-animation-item" alt="">
            <img src="/img/like.svg" class="excellence-animation-item" alt="">
            <img src="/img/like.svg" class="excellence-animation-item" alt="">
        </div>

        <div class="animation-wrapper animation-wrapper--right"></div>

        <div class="excellence-wrap">
            <div class="container">
                <h2 class="section__title section__title--white">Advantages</h2>
                <div class="excellence">
                    <div class="excellence-item" data-aos="fade-down">
                        <div class="excellence-item-img-wrapper">
                            <img data-src="/img/ex1.svg"  alt="Earning money from simple tasks" class="lazy excellence-item-img">
                        </div>
                        <div class="excellence-item__title">
                            Earning money from simple tasks
                        </div>
                        <div class="excellence-item__text">
                            You can earn money each month by performing simple tasks that do not require serious skills
                        </div>
                    </div>
                    <div class="excellence-item" data-aos="fade-down">
                        <div class="excellence-item-img-wrapper">
                            <img data-src="/img/ex2.svg" alt="Fast and convenient withdrawal" class="lazy excellence-item-img">
                        </div>
                        <div class="excellence-item__title">
                            Fast and convenient withdrawal
                        </div>
                        <div class="excellence-item__text">
                            Complete 40 tasks daily and earn money
                        </div>
                    </div>
                    <div class="excellence-item" data-aos="fade-down">
                        <div class="excellence-item-img-wrapper">
                            <img data-src="/img/ex3.svg" alt="Referral program" class="lazy excellence-item-img">
                        </div>
                        <div class="excellence-item__title">
                            Referral program
                        </div>
                        <div class="excellence-item__text">
                            Don't want to complete tasks? Just attract people increase vip level and get bonuses
                        </div>
                    </div>
                    <div class="excellence-item" data-aos="fade-down">
                        <div class="excellence-item-img-wrapper">
                            <img data-src="/img/ex4.svg" alt="Rating system" class="lazy excellence-item-img">
                        </div>
                        <div class="excellence-item__title">
                            Credit system
                        </div>
                        <div class="excellence-item__text">
                            Increase your credit score for special bonuses
                        </div>
                    </div>
                    <div class="excellence-item" data-aos="fade-down">
                        <div class="excellence-item-img-wrapper">
                            <img data-src="/img/ex5.svg" alt="Distribution of executions by time" class="lazy excellence-item-img">
                        </div>
                        <div class="excellence-item__title">
                            Distribution of executions by time
                        </div>
                        <div class="excellence-item__text">
                            Create convenient schedules for completing your tasks
                        </div>
                    </div>
                    <div class="excellence-item" data-aos="fade-down">
                        <div class="excellence-item-img-wrapper">
                            <img data-src="/img/ex6.svg" alt="Favorable prices and bonuses" class="lazy excellence-item-img">
                        </div>
                        <div class="excellence-item__title">
                            Favorable income and bonuses
                        </div>
                        <div class="excellence-item__text">
                            Increase task limit when you top up your account and earn more money
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Партнеры и исполнители-->
    <section id="partner" class="section partner-section">
        <div class="partner-wrap">
            <h2 class="section__title">Top performers</h2>
            <div class="container">
                <div class="partner">
                    <div class="partner-bullet  partner-bullet--left">
                        <img data-src="/img/bullet1.svg" class="lazy" alt="">
                    </div>
                    <div class="partner-bullet  partner-bullet--right">
                        <img data-src="/img/bullet1.svg" class="lazy" alt="">
                    </div>

                    <div class="partner-table partner-table--left" data-aos="fade-right">
                        <div class="partner-head">
                            <div class="partner-head__title">
                                Тop <strong>Performers</strong>
                            </div>
                            <div class="partner-head-img-border">
                                <div class="partner-head-img-wrapper">
                                    <img data-src="/img/p1-head.svg" alt="Тop Performers" class="lazy partner-head-img">
                                </div>
                            </div>
                        </div>
                        <div class="partner-body">
                            <div class="partner-list-wrapper">
                                <ul class="partner-list">
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/img5.jpg" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                chris1                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>1 223</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/img4.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                kati                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>861</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/noavatar.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                ayuka                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>645</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/noavatar.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                user701                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>608</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/noavatar.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                user98                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>595</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/img3.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                number_one                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>298</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/img2.jpg" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                Jakson                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>239</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/noavatar.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                zxz2001                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>140</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/noavatar.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                user9871                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>134</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/noavatar.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                user657                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>130</strong>$.
                                            </div>
                                        </li>
                                                                    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="partner-table partner-table--right" data-aos="fade-left">
                        <div class="partner-head">
                            <div class="partner-head__title">
                                Тop <strong>performers last month</strong>
                            </div>
                            <div class="partner-head-img-border">
                                <div class="partner-head-img-wrapper">
                                    <img data-src="/img/p2-head.svg" alt="Top Partners" class="lazy partner-head-img">
                                </div>
                            </div>
                        </div>
                        <div class="partner-body">
                            <div class="partner-list-wrapper">
                                <ul class="partner-list">
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/noavatar.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                user642                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>2 239</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/noavatar.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                user897                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>2 209</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/noavatar.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                user143                                           </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>1 227</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/noavatar.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                user23                                           </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>991</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/noavatar.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                tagyreaze                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>445</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/noavatar.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                user2289                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>443</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/noavatar.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                user968                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>419</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/noavatar.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                user143                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>309</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/noavatar.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                mrkty                                            </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>301</strong>$.
                                            </div>
                                        </li>
                                                                                                                    <li class="partner-list-item">
                                            <div class="partner-list-item__counter">
                                                <img src="/img/star.png" alt="">
                                            </div>
                                            <div class="partner-list-item__logo">
                                                <img data-src="/images/img1.png" class="lazy" alt="">
                                            </div>
                                            <div class="partner-list-item__name">
                                                sumail                                           </div>
                                            <div class="partner-list-item__value">
                                                <div class="partner-list-item__value-icon">
                                                    <img src="/img/coins.svg" alt="">
                                                </div>
                                                <strong>281</strong>$.
                                            </div>
                                        </li>
                                                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Заработок в Интернете-->
    <section id="gain" class="section gain-section">
        <img data-src="/img/img-abs-big.png" class="lazy gain-abs gain-abs--left" alt="">
        <div class="gain-wrap">
            <div class="container">
                <h2 class="section__title">Earn money online</h2>
                <div class="gain">
                    <div class="gain-head-wrapper">
                        <ul class="gain-head">
                            <li class="gain-head-item active" data-gain="1">
                                Simple tasks
                            </li>
                            <li class="gain-head-item" data-gain="2">
                                Application evaluation
                            </li>
                            <li class="gain-head-item" data-gain="3">
                                Copywriting and Rewriting
                            </li>
                            <li class="gain-head-item" data-gain="4">
                                Social media
                            </li>
                        </ul>
                    </div>
                    <div class="gain-content-wrapper">
                        <div class="gain-content active" data-gain="1">
                            <div class="gain-content-img-wrapper" data-aos="fade-right">
                                <img data-src="/img/macbook3.png" alt="" class="lazy gain-content-img">
                            </div>
                            <div class="gain-content-info" data-aos="fade-left">
                                <div class="gain-content-info__title">
                                    Earnings <strong>for completing tasks</strong>
                                </div>
                                <div class="gain-content-info-text">
                                    <ul class="list">
                                        <li>
                                            Reading articles - <strong>for rewards</strong>;
                                        </li>
                                        <li>
                                            Video ad task - <strong>for rewards</strong>;
                                        </li>
                                        <li>
                                            Website redirects task - <strong>for rewards</strong>;
                                        </li>
                                        <li>
                                            3rd party websites tasks - <strong>for rewards.</strong>
                                        </li>
                                    </ul>
                                </div>
                                <div class="gain-btn-wrapper">
                                    <a href="<%= process.env.BASE_URL %>/login" class="gain-btn btn">Register</a>
                                </div>
                            </div>
                        </div>
                        <div class="gain-content" data-gain="2">
                            <div class="gain-content-img-wrapper">
                                <img src="/img/macbook4.png" alt="" class="gain-content-img">
                            </div>
                            <div class="gain-content-info">
                                <div class="gain-content-info__title">
                                    Earnings <strong>for app evaluation</strong>
                                </div>
                                <div class="gain-content-info-text">
                                    <ul class="list">
                                        <li>
                                            Installing and evaluating applications - <strong>for rewards</strong>;
                                        </li>
                                        <li>
                                            App reviews - <strong>for rewards</strong>;
                                        </li>
                                        <li>
                                            Application testing - <strong>for rewards.</strong>
                                        </li>
                                    </ul>
                                </div>
                                <div class="gain-btn-wrapper">
                                    <a href="<%= process.env.BASE_URL %>/login" class="gain-btn btn">Register</a>
                                </div>
                            </div>
                        </div>
                        <div class="gain-content" data-gain="3">
                            <div class="gain-content-img-wrapper">
                                <img src="/img/macbook2.png" alt="" class="gain-content-img">
                            </div>
                            <div class="gain-content-info">
                                <div class="gain-content-info__title">
                                    Earnings <strong>for copywriting and rewriting</strong>
                                </div>
                                <div class="gain-content-info-text">
                                    <p>
                                        Create unique texts for landing pages, articles and receive rewards:
                                    </p>
                                    <ul class="list">
                                        <li>
                                            Rewriting - <strong>rewards for every 1000 characters</strong>;
                                        </li>
                                        <li>
                                            Copywriting - <strong>rewards for every 1000 characters</strong>;
                                        </li>
                                    </ul>
                                </div>

                                <div class="gain-btn-wrapper">
                                    <a href="<%= process.env.BASE_URL %>/login" class="gain-btn btn">Register</a>
                                </div>
                            </div>
                        </div>
                        <div class="gain-content" data-gain="4">
                            <div class="gain-content-img-wrapper">
                                <img src="/img/macbook1.png" alt="" class="gain-content-img">
                            </div>
                            <div class="gain-content-info">
                                <div class="gain-content-info__title">
                                    Earnings <strong>in social networks</strong>
                                </div>
                                <div class="gain-content-info-text">
                                    <ul class="list">
                                        <li>
                                            Rate this post/photo - <strong>for rewards</strong>;
                                        </li>
                                        <li>
                                            Join an interesting community - <strong>for rewards</strong>;
                                        </li>
                                        <li>
                                            Subscribe to the channel - <strong>for rewards</strong>;
                                        </li>
                                        <li>
                                            Watch the video - <strong>for rewards.</strong>
                                        </li>
                                    </ul>
                                </div>
                                <div class="gain-btn-wrapper">
                                    <a href="<%= process.env.BASE_URL %>/login" class="gain-btn btn">Register</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="program" class="section program-section">
        <div class="excellence-bullet excellence-bullet--left">
            <img data-src="/img/bullet1.svg" class="lazy" alt="">
        </div>
        <div class="excellence-bullet excellence-bullet--right">
            <img data-src="/img/bullet1.svg" class="lazy" alt="">
        </div>

        <div class="program-animation-wrapper program-animation-wrapper--left">
            <img src="/img/like.svg" class=" excellence-animation-item" alt="">
            <img src="/img/hashtag.svg" class=" excellence-animation-item" alt="">
            <img src="/img/message.svg" class=" excellence-animation-item" alt="">
        </div>

        <div class="excellence-animation-wrapper excellence-animation-wrapper--right">
            <img src="/img/like.svg" class="excellence-animation-item" alt="">
            <img src="/img/like.svg" class="excellence-animation-item" alt="">
            <img src="/img/like.svg" class="excellence-animation-item" alt="">
        </div>
        <div class="program-wrap">
            <div class="container">
                <h2 class="section__title section__title--white section__title--subtitle">affiliate program</h2>
                <div class="section__subtitle">
                    Use the calculator to predict your approximate earnings from referrals
                </div>
                <div class="program">
                    <div class="program-switcher switcher" data-aos="fade-down">
                        <div class="program-switcher-item switcher-item  switcher-item--left active" data-prog="1">Income from executions</div>
                        <div class="program-switcher-item switcher-item switcher-item--right" data-prog="2">Income from replenishments</div>
                    </div>
                    <div class="program-content-wrapper" data-aos="fade-down"  data-aos-delay="500">
                        <div class="program-content active" data-prog="1">
                            <div id="executor" class="program-slider"></div>

                            <div class="program-item-wrapper">
                                <div class="program-item">
                                    <div class="program-item-info">
                                        <div id="amount1" class="program-item__value"></div>
                                        <div class="program-item__text">fulfillment by the referral</div>
                                    </div>

                                </div>
                                <div class="program-item">
                                    <div class="program-item__icon">
                                        <img src="/img/coins.svg" alt="Вознаграждение по партнерской программе">
                                    </div>
                                    <div class="program-item-info">
                                        <div id="amount2" class="program-item__value"></div>
                                        <div class="program-item__text">your reward</div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="program-content" data-prog="2">
                            <div id="customer" class="program-slider"></div>
                            <div class="program-item-wrapper">
                                <div class="program-item">
                                    <div class="program-item__icon">
                                        <img src="/img/coins.svg" alt="Сумма потраченных стредств">
                                    </div>
                                    <div class="program-item-info">
                                        <div id="amount3" class="program-item__value"></div>
                                        <div class="program-item__text">funds spent</div>
                                    </div>

                                </div>
                                <div class="program-item">
                                    <div class="program-item__icon">
                                        <img src="/img/coins.svg"  alt="Вознаграждение по партнерской программе">
                                    </div>
                                    <div class="program-item-info">
                                        <div id="amount4" class="program-item__value"></div>
                                        <div class="program-item__text">your reward</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="registration" class="section registration-section">
        <img data-src="/img/img-abs-small.png" class="lazy registration-abs registration-abs--left" alt="">
        <img data-src="/img/registr-abs-img.png" class="lazy registration-abs registration-abs--right" alt="">

        <div class="registration-bullet registration-bullet--left">
            <img data-src="/img/bullet1.svg" class="lazy" alt="">
        </div>

        <div class="registration-wrap">
            <div class="container">
                <div class="registration">
                    <div class="registration-info" data-aos="fade-right">
                        <h2 class="registration-info__title">
                            Do you want to get proven profits for your investments?
                        </h2>
                        <div class="registration-info__subtitle">
                            Or just make money online with small investment?
                        </div>
                        <div class="registration-btn-wrapper">
                            <a href="<%= process.env.BASE_URL %>/login" class="btn registration-btn">Register now</a>
                        </div>
                    </div>
                    <div class="registration-img-wrapper" data-aos="fade-left">
                        <img data-src="/img/registr-main.svg" alt="" class="lazy registration-img">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<footer>
    <div class="container">
        <div class="footer">
            <div class="footer-logo logo">
                <a href="#home" class="scroll">
                    <strong>i</strong>Toro
                </a>
            </div>
            <div class="footer-menu-wrapper">
                <ul class="footer-menu">
                    <li>
                        <a href="#start" class="scroll">How to get started</a>
                    </li>
                    <li>
                        <a href="#excellence" class="scroll">Advantages</a>
                    </li>
                    <li>
                        <a href="#partner" class="scroll">Top</a>
                    </li>
                    <li>
                        <a href="#gain" class="scroll">Earn online</a>
                    </li>
                    <li>
                        <a href="#program" class="scroll">Affiliate program</a>
                    </li>
                    <li>
                        <a href="#service" class="scroll">Services and prices</a>
                    </li>
                    <li>
                        <a href="<%= process.env.BASE_URL %>/login">Sign up</a>
                    </li>
                   
                </ul>
            </div>
        </div>

        <div class="footer-copyright">
            All rights reserved © 2024 iToro
        </div>
    </div>
</footer>

</div>
<script src="/landing/assets/8db62c8a/js/bundle.js"></script>
</body>
</html>
